body {
	margin:0;
}

.popup{
	  display: none;
	  position: fixed;
	  z-index:21;
	  width: 100%;
	  height: 100%;
	  background: red;
	  left:0;
	  top:0;
	  overflow: auto;
	  background-color: rgba(0,0,0,0.4);
	}
.close {
    color: #aaa;
	font-size:28px;
	font-weight:bold;
	margin-left:auto;
}	
	
.close:hover,
.close:focus {
     color:black;
     text-decoration:none;
     cursor:pointer;	 
}	

.popup-header {
	background-color:#2E7F3E;
	color: white;
	display:flex;
	padding:2px 16px;
}

.popup-body{ 
	padding: 2px 16px;
	font-size: 14pt;
	font-weight: bold;

}

.popup-footer {
	padding: 2px 16px;
	background-color: #2E7F3E;
	color:white;
	font-size: 14pt;
	font-weight: bold;
}

.popup-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding:0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

#container {
	z-index:0;
	display:none;
    
}

#minimap {
    z-index: 9; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180pt;
    height: 180pt;
	border: 2px solid #006543; /* Параметры рамки */
    background: url(map2.png) 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
}

#indicator {
	position: absolute;
	z-index: 10;
	border: 2px solid red;
	width: 15pt;
	height: 15pt;
	left: 15px;
    bottom: 15px;
}



#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #2E7F3E;
z-index: 30;}
 
.contpre small{font-size:35px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 60%;
margin-left:-125px;
margin-top:-75px;
color:#ffffff;
font-size:55px;
font-weight	: bold;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 200px;
height: 200px;
background: url(download.svg) center center no-repeat;
background-size:200px;    
left:30px;
top: -160px;
}

#logo {
width: 200px;
height: 200px;
position: absolute;
left:30px;
top: -163px;
background: url(logo.png) center center no-repeat;
background-size:130px; }

#hiscreen{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
width: 100%;
height: 100%;
background: #2E7F3E;
z-index: 25;}

#control{
position:fixed;
bottom : 0%;
left :23%;
width: 800px;
height: 150px;
}

#left {
width: 50px;
height: 50px;
position: absolute;
left:3%;
top: 42%;
background: url(left.png) center center no-repeat;
background-size:50px; }

#ltext{
position: absolute;
left:10%;
top: 40%;
color:#f4f6f8;
font-size:20px;
font-weight	: bold;
}

#right {
width: 50px;
height: 50px;
position: absolute;
left:33%;
top: 42%;
background: url(right.png) center center no-repeat;
background-size:50px; }

#rtext{
position: absolute;
left:40%;
top: 40%;
color:#f4f6f8;
font-size:20px;
font-weight	: bold;
}

#wheel {
width: 50px;
height: 50px;
position: absolute;
left:67%;
top: 42%;
background: url(wheel.png) center center no-repeat;
background-size:50px; }

#wtext{
position: absolute;
left:74%;
top: 40%;
color:#f4f6f8;
font-size:20px;
font-weight	: bold;
}


 
#fon {
width: 100%;
height: 60%;
position: absolute;
left:0%;
top: 23%;
background: url(terr.jpg) center center no-repeat;
background-size:100%; 
border-bottom:10px solid #f4f6f8;
border-top:10px solid #f4f6f8;
}


 section {
    background: rgba( 0,0,0,.6);
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	position: absolute;
	top: 0%;
	right: 0%;
	
	z-index: 20;
 }
 
#button2 {
	width: 10%;
	height: auto;
	opacity:0.8;
	    padding: 1px 2px;
		position:absolute;
		right:0%;
}


#button3 {
	width: 10%;
	height: auto;
	opacity:0.8;
	    padding: 1px 2px;
		visibility:hidden;
		position:absolute;
		right:0%;
}
 
 canvas {
 
 }
 
 section div input {
    background: transparent;
    border: none;
	outline: none;
}

section div input:focus ~ label,
section div input:valid ~ label {
    left: 0;
    top: -22px;
}



section div label {
    position: absolute;
    top: 0;
    left: 0;
	color: white;
}
 
 section div {
    position: relative;
}

#search * {
    box-sizing: border-box;
}	
 
#info{
	top:3%;
	left:3%;
	width:90%;
	height:auto;
position: relative;
margin-left:3%;
margin-right:3%;
margin-top:3%;
margin-bottom:3%;
color:#ffffff;
font-size:21px;
font-weight	: bold;
opacity:1;
}

#logohi {
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
width: 100%;
height: 20%;
background: #f4f6f8;
z-index: 25;
min-height:110px;
border-bottom: 10px solid #2E7F3E;
}

#logohi1 {
width: 28%;
height: auto;
left:3%;
top: 10%;
position: absolute;}
	
#logohi1 img {
    width: 100%;
    height: auto;
}

#logohi2 {
width: 18%;
height: auto;
position: absolute;
right:5%;
top: 10%; }

#logohi2 img {
    width: 100%;
    height: auto;
}

#button3:hover,
#button3:focus {
     cursor:pointer;	 
}

#button2:hover,
#button2:focus {
     cursor:pointer;	 
}

#button:hover,
#button:focus {
     cursor:pointer;	 
}

#footlogo{
width: 80px;
height: 80px;
position: absolute;
right:1%;
bottom: 3%;
background: url(logo.png) center center no-repeat;
background-size:80px;}

#block1{
width: 30%;
height: auto;
position: relative;
left:60%;
top: 15%;
background: #2E7F3E;
opacity:0.8;}

#block2{
width: 28%;
height: auto;
position: absolute;
left:15%;
top: 30%;
background: #2E7F3E;
opacity:0.8;}

#block2 img {
    width: 100%;
    height: auto;
}
